<table mat-table [dataSource]="proposals">
  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef> Topic </th>
    <td mat-cell *matCellDef="let proposal"> {{proposal.topic}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Topic Description </th>
    <td mat-cell *matCellDef="let proposal"> {{proposal.description}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
